<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    
<div class="backdrop" >
    <div class="modal">
        <button data-modal-close class="btn-modal-close">
            <svg class="icon-close" width="18" height="18">
                <use href="../images/modal/close-icon.svg#close-icon"></use>
            </svg>
        </button>
        <img src="../images/modal/modal-brain.png" alt="brain image" class="brain-img">
        <img src="../images/modal/academic-cap.png" alt="academic cap image" class="academic-cap">
        <div class="form-box">
        <form action="#" class="form">

            <h2 class="form-title">Записатись</h2>
            
            <div class="form-field">
                <div class="form-contact">                
                    <input 
                    type="text" 
                    name="name" 
                    class="label-input" 
                    placeholder="Ім'я">                
                    
                    <input 
                    type="tel" 
                     name="tel" 
                    class="label-input" 
                    placeholder="Телефон">                     
                </div>
                                                                    
                <input 
                type="email" 
                name="mail" 
                class="email-input" 
                placeholder="E-mail">                                                 
              
                <textarea 
                name="comment"  
                class="label-textarea"
                placeholder="Повідомлення">
                </textarea>
                          
            </div>
           
            <div class="btn-form-box">
                <button 
                    id="green-btn"
                    type="submit" 
                    class="modal-btn btn">
                    Оплатити пізніше
                </button>

                <button 
                    type="submit" 
                    class="modal-btn btn">
                    ОПЛАТИТИ LiqPay
                </button>
            </div>
        </form>
        </div>
</body>
</html>