<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <main>
    <!-- ------------------------MODAL2---------------------- -->
    <div class="backdrop" data-modal>
        <div class="modal">
            <div class="greet-box">
                <button data-modal-close class="btn-modal-close">
                    <svg class="icon-close" width="18" height="18">
                        <use href="../images/modal/close-icon.svg#close-icon"></use>
                    </svg>
                </button>
                <h2 class="form-title">Вітаємо</h2>
                <img src="../images/modal/greet-img.png" alt="Image Letter" class="modal-greet-img">
                <p class="modal-text">На пошту було відправлено посилання для оплати на курс</p>
                <button id="green-btn" type="submit" class="modal-btn btn">
                    <a href="../index.html">На головну</a>
                </button>
            </div>
        </div>
    </div>
    </main>
</body>
</html>